<div class="container">
    <a href="/resources" class="btn btn-outline-secondary">
        <img src="/img/label.png" alt="resources">
    </a>
    <a href="/produto" class="btn btn-outline-secondary">
        <img src="/img/montagemIconBW.png" alt="produto">
    </a>
    <a href="/mesa" class="btn btn-outline-secondary">
        <img src="/img/restaurant_.png" alt="mesa">
    </a>
    <a href="/resources" class="btn btn-outline-secondary">
        <img src="/img/user.png" alt="resources">
</div>