<div class="container">
    <a href="/usuario" class="btn btn-primary">Usuário</a>
    <a href="/recurso" class="btn btn-primary">Recurso</a>
    <a href="/resources" class="btn btn-primary">Resources</a>
</div>