<div class="container">
    <a href="/resources" class="btn btn-primary">Ver Recursos</a>
    <a href="/usuario/create" class="btn btn-primary">Criar Usuário</a>
    <a href="/usuario/login" class="btn btn-primary">Logout</a>
</div>